
.contact-container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    
}

.contact-left-side__image {
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}

.contact-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60vw;
    margin-top: 100px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form-fields {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.contact-form-input--label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 10px; 
    font-size: 16px;   
    font-weight: 600;
}

.contact-form-input--input {
    border-bottom: 1px solid $color_black;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
  
}

@media (max-width: 750px) {
    .contact-container {        
        height: unset; 
        position: relative;  
        flex-direction: column;     
    }

    .contact-left-side {
        display: block;
        position: absolute;
        bottom: 0;
    }

    .contact-left-side__image {
        height: 50vh;
        opacity: 0.3;
    }

    .contact-right-side {
        position: unset;
        width: 100vw;
        // margin-top: -500px;
    }

    .contact-paragraph-above-decor {
        // margin-left: 50px;
        // margin-top: 95px;

    }

    .contact-form-fields {      
        flex-direction: column;
       
    }

    .contact-form {     
        // align-items: baseline;
        // flex-direction: column;
        // margin-left: 75px;     
        z-index: 1;
    }
   

    .contact-form-input--label {      
        // margin: 10px 0;        
    }
 
}