
.contact-container {
    display: flex;
    overflow: hidden;
    height: 100vh;    
}

.contact-left-side {
    z-index: -1;
}

.contact-left-side__image {
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}

.contact-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60vw;
    padding-top: 100px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form-fields {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.contact-form-input--label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 10px; 
    font-size: 16px;   
    font-weight: 600;
}

.contact-form-input--input {
    border-bottom: 1px solid $color_black;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
  
}

//general mobile and small
@media (max-width: 750px) {
    .contact-container {        
        height: unset; 
        position: relative;  
        flex-direction: column;     
    }

    .contact-left-side {
        display: block;
        position: absolute;
        bottom: 0;
    }

    .contact-left-side__image {
        // height: 50vh;
        opacity: 0.3;
    }

    .contact-right-side {
        position: unset;
        width: 100vw;       
    } 

    .contact-form-fields {      
        flex-direction: column;       
    }

    .contact-form {           
        z-index: 1;
    }
}

//galaxy s5 vertical
@media (min-width: 360px) and (max-width: 374px) and (min-height: 640px) and (max-height: 641px) { 
    .header-container {
        padding-bottom: 20vh;
    }

    .contact-left-side__image {      
        height: 50vh;
    }
}

//iphone 6/7/8 vertical
@media (min-width: 375px) and (max-width: 376px) and (min-height: 667px) and (max-height: 668px) { 
    .contact-left-side__image {       
        height: 45vh;
    }
}

//pixel 2 & 2 xl  vertical
@media (min-width: 411px) and (max-width: 412px) and (min-height: 731px) and (max-height: 824px) { 
    .contact-left-side__image {      
        height: 40vh;
    }
}

//iphone x vertical
@media (min-width: 375px) and (max-width: 376px) and (min-height: 812px) and (max-height: 813px) { 
    .contact-left-side__image {      
        height: 35vh;
    }
}

//pixel 2 & 2 xl  vertical
@media (min-width: 414px) and (max-width: 415px) and (min-height: 736px) and (max-height: 737px) { 
    .contact-left-side__image {      
        height: 45vh;
    }
}

//pixel 2 xl horizontal
@media (min-width: 823px) and (max-width: 824px) and (min-height: 411px) and (max-height:412px) { 
    .contact-left-side__image {      
        height: 177vh;
    }

    .container-full {       
        max-height: unset;
    }

    .contact-container { 
        height: 175vh;
    }
}

@media (min-width: 560px) and (max-width: 1210px) {   
    .contact-left-side__image {       
        opacity: 0.35;
    }  
}

// ipad
@media (min-width: 768px) and (max-width: 769px) {
    .contact-container  {
        margin-top: unset;   
        height: unset;
    }

    .contact-left-side {
        position: absolute;
        bottom: -279%;
    }

    .contact-left-side__image {
        height: 50vh;
    }

    .contact-right-side {
        left: 22vw !important;      
    }
}

//ipad pro
@media (min-width: 1020px) and (max-width: 1024px)  {
    .contact-container  {
        margin-top: unset;   
        height: unset;
    }

    .contact-left-side__image {
        height: 55vh;
    }

    .contact-right-side {
        left: 28vw !important;      
    }
}

//form visible for non-full screen desktop
@media (min-width: 751px) and (max-width: 1300px) {
    .contact-right-side {
        left: 34vw;
    }
    
}

//ipad horizontal
@media (min-width: 1024px) and (max-width: 1025px) and (min-height: 768px) and (max-height: 769px){
    .contact-left-side__image {
        height: 95vh;
    }

    .container-full {
        max-height: unset;
     }
}

//ipad 
@media (min-width: 1024px) and (max-width: 1025px) and (min-height: 1366px) and (max-height: 1367px) {
    .contact-left-side__image {
        height: 53vh;
    }

    .container-full {
        max-height: unset;
     }
}

//ipad pro horizontal
@media (min-width: 1366px) and (max-width: 1367px) and (min-height: 1024px) and (max-height: 1025px) {
    .contact-left-side__image {
        height: 71vh;
    }

    .container-full {
        max-height: unset;
     }

     .contact-container {       
        height: 71vh;
    }

    .header-right-side {       
        padding-right: unset; 
   }
}

//iphone x horizontal 
@media (min-width: 812px) and (max-width: 813px) { 
    .container-full {
       max-height: unset;
    }

    .contact-container {
        height: unset;
     }

     .contact-left-side__image {
        height: 140vh;
        padding-top: 209px;
    }

    .footer-container {
        padding-top: 20px;
    }
}

//surface duo horizontal
@media (min-width: 720px) and (max-width: 721px) and (min-height: 540px) and (max-height: 541px) {
    .contact-left-side__image {
             height: unset;         
    }
 }

 //surface duo vertical
@media (min-width: 540px) and (max-width: 541px) and (min-height:720px) and (max-height: 721px) {
    .contact-left-side__image {
             height: 60vh;         
    }
 }

 //galaxy fold horizontal
@media (min-width: 653px) and (max-width: 654px) and (min-height: 280px) and (max-height: 281px) {
    .contact-left-side__image {
             height: 181vh;         
    }
 }

  //galaxy fold vertical
@media (min-width: 280px) and (max-width: 281px) and (min-height: 653px) and (max-height: 654px) {
    .contact-left-side__image {
             height: 40vh;         
    }
 }

  //galaxy s9 horizontal
@media (min-width: 740px) and (max-width: 741px) and (min-height: 360px) and (max-height: 361px) {
    .contact-left-side__image {
             height: 150vh;         
    }
 }

  //galaxy s9 vertical
@media (min-width: 360px) and (max-width: 361px) and (min-height: 740px) and (max-height: 741px) {
    .contact-left-side__image {
             height: 40vh;         
    }
 }

   //bv 9000 pro horizontal
@media (min-width: 1080px) and (max-width: 1081px) and (min-height: 2248px) and (max-height: 2249px) {
    .contact-left-side__image {
             height: 150vh;         
    }
 }

  //bv 9000 pro vertical
@media (min-width: 2248px) and (max-width: 361px) and (min-height: 740px) and (max-height: 741px) {
    .contact-left-side__image {
             height: 40vh;         
    }
 }

 //iphone s5/se vertical
 @media (min-width: 320px) and (max-width: 321px) and (min-height: 568px) and (max-height: 569px) {
    .contact-left-side__image {
             height: 45vh;         
    }
 }

  //responsive vertical
  @media (min-width: 287px) and (max-width: 288px) and (min-height: 655px) and (max-height: 656px) {
    .contact-left-side__image {
             height: 35vh;         
    }
 }

  //responsive horizontal
  @media (min-width: 655px) and (max-width: 656px) and (min-height: 287px) and (max-height: 288px) {
    .contact-left-side__image {
             height: 150vh;         
    }
 }

