
.contact-container {
    width: auto !important;   
    display: flex;
    padding-top: 6vw;   
}

.contact-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;    
    right: 2vw;
    padding-top: 15vw; 
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form-fields {
    display: flex;
    flex-direction: row;  
}

.contact-form-input--label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 1vw;
    font-size: 1.71vw;   
    font-weight: 600;
}

.contact-form-input--input {
    border-bottom: 1px solid $color_black;
    border-left: none;
    border-right: none;
    border-top: none;
    background: $color_form_transparent;  
    font-size: 1.72vw;
    font-weight: 400;
    width: 20vw;
    padding: 1vw 0px;  
}

//general mobile and small
@media (max-width: 833px) {
    .contact-container {        
        height: unset; 
        position: relative;  
        flex-direction: column;     
    }

    .contact-left-side {
        display: block;
        position: absolute;
        bottom: 0;
    }

    .contact-left-side__image {      
        opacity: 0.3;
    }

    .contact-right-side {
        position: unset;
        width: 100vw;    
        padding-bottom: 12vw;
        padding-top: 0;   
    } 

    .contact-form-fields {      
        flex-direction: column;       
    }

    .contact-form {           
        z-index: 1;
    }

    .contact-form-input--label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin-top: 1vw;
        font-size: 3.71vw;   
        font-weight: 600;
    }
    
    .contact-form-input--input {      
        width: unset;
        font-size: 2.71vw;           
    }
}

//desktop
@media (min-width: 833px) {
.contact-left-side {
   position: relative;
    }
}




