
.about-container {
    display: flex;
    margin-top: 20px;    
    height: 100vh;
}
//
.about-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-right-side__img {
    width: 50vw; 
    height: 100vh;   
}

.about-left-side__decoration {
    transform: scale(0.7);
}

.about-left-side__text {
    width: 72%;
    text-align: center;
    line-height: 2em;
} 

.about-left-side__signature {
    transform: scale(0.7) translateX(190px);
    display: flex;
    justify-content: flex-end;
}
