.about-container {
    display: flex;
    // margin-top: 20px;    
    height: 50vw;
    overflow: hidden;
    width: 100vw;
}

.about-left-side {
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_whiteish;
}

.about-decorated-text--large {
    font-size: 38px;
    font-weight: 400;
}

.about-left-side__decoration {
    transform: scale(0.7);
}

.about-left-side__text {  
    text-align: center;  
    font-size: 2.5vw;
    font-weight: 400;
    width: 40vw;
    padding: 0vw 5vw;
   
} 

.about-left-side__signature {
    display: flex;
    align-self: flex-end;
    width: 15vw;
    height: 9vw;
}

@media (max-width: 833px) {
    .about-container {
        flex-direction: column;    
        height: unset;
    }

    .about-left-side {
        width: 100vw;
        height: 63vw;
   
    }  

    .about-left-side__text {     
        text-align: center;          
        width: 90vw;
        font-size: 4vw;  
    } 

    .about-left-side__signature {        
        display: flex;
        width: 16vw;
        height: 12vw;
        align-self: flex-end;
    }

    .about-right-side__img {
        height: unset; 
        width: unset;
    }
}

//desktop full screen
@media (min-width: 1024px) {
    .about-right-side__img {
        max-width: 62vw;  
    }
}






