
.about-container {
    display: flex;
    margin-top: 20px;    
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
//
.about-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// .about-right-side__img {
    // max-width: 55vw;
    // height: 100vh;
    // width: 65vw;
    // position: absolute;
    // right: -220px;  
// }

.about-decorated-text--large {
    font-size: 38px;
    font-weight: 400;
}

.about-left-side__decoration {
    transform: scale(0.7);
}

.about-left-side__text {
    // width: 72%;
    text-align: center;
    // line-height: 2em;
    font-size: 30px;
    font-weight: 400;


} 

.about-left-side__signature {
    transform: scale(0.7) translateX(170px);
    display: flex;
    justify-content: flex-end;
}
