@import './settings/colors';

//base for all buttons
.btn {
    background-color: $color_white;
    &:hover {
        cursor: pointer;
    }
}

//home header buttons
.menu-top-button {
    padding: 10px;
    margin: 1px;
    color: $color_greyish;
    font-size: 0.6em;
    border: 1px solid $color_white; 
    &:hover {
        border: 1px solid $color3_yellowish;    
    }
}

.menu-bottom-button {
    padding: 10px 20px;     
    margin: 1px; 
    border: 1px solid $color_white;   
    font-size: 0.8em;   
    height: 52px;  
    &:hover {
     border: 1px solid $color_black;    
    } 
 }


.header-button {
    border: 1px solid $color_black; 
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 1.4em;
    width: 200px;
}

.who-we-help--button {
    border: 1px solid $color_black;     
    padding: 10px 30px;
    font-size: 1.2em;
    width: 200px;
    text-align: center;
}

.form-submit-button {
    padding: 10px 20px;     
    margin: 1px; 
    border: 1px solid $color_black;   
    font-size: 0.8em;  
    background-color: $color_white;   
    // &:hover {
    //  border: 1px solid $color_black;    
    // } 
 }