@import './settings/colors';

//base for all buttons
.btn {
    background-color: $color_white;
    &:hover {
        cursor: pointer;
    }
}

//home header buttons
.menu-top-button {
    // width: 98px;
    // height: 36px;
    padding: 10px;
    // margin: 1px;
    color: $color_greyish;
    font-size: 1.25vw;
    font-weight: 400;
    border: 0.75px solid $color_white; 
    &:hover {
        border: 0.75px solid $color3_yellowish;    
    }
}

.menu-bottom-button {
    padding: 10px 20px;     
    // margin: 1px; 
    border: 0.75px solid $color_white;   
    font-size: 1.25vw;
    font-weight: 400;  
    // height: 42px;  
    background-color: $color_white;     
    &:hover {
     border: 0.75px solid $color_black;    
    } 
 }


.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.75px solid $color_black; 
    text-transform: uppercase;
    // padding: 10px 30px;
    font-size: 2.1vw;
    width: 18vw;
    height: 9vw;
    text-align: center;
    // max-width: 18vw;
}

.who-we-help--button {
    border: 0.75px solid $color_black;     
    padding: 10px 30px;
    font-size: 24px;
    font-weight: 400;
    width: 235px;
    text-align: center;
}

.form-submit-button {
    padding: 10px 20px;     
    // margin: 1px; 
    border: 0.75px solid $color_black;   
    font-size: 18px;  
    font-weight: 300;
    background-color: $color_white;  
    // width: 180px;
    width: -moz-fit-content; 
    // &:hover {
    //  border: 1px solid $color_black;    
    // } 
 }

 .steps-button {
    padding: 10px 20px;     
    // margin: 1px; 
    border: 0.75px solid $color_black;   
    font-size: 24px;  
    font-weight: 300;
    background-color: $color_white;  
    width: 180px;
    width: -moz-fit-content; 
 }

 .choice-button {
    padding: 10px 20px;     
    // margin: 1px; 
    border: 0.75px solid $color_black;   
    font-size: 18px;  
    font-weight: 300;
    background-color: $color_white; 
    width: -moz-fit-content; 
    width: 200px;
    height: 60px;
    font-size: 16px;
 }

 .radio-choice-button {
    //  margin-right: 10px;
     width: 30px;
     height: 30px;
     border: 1px solid $color_black;
     border-radius: 2px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     -ms-border-radius: 2px;
     -o-border-radius: 2px;
     &:hover {
         background-color: $color3_yellowish;
     }
     &:focus {
        background-color: $color3_yellowish;
     }

}

.yellow-hover-btn {     
    border: 1px solid $color_black;
    // padding: 10px;
    &:hover {
        background-color: $color3_yellowish;
    }
    &:focus {
        background-color: $color3_yellowish;
    }
}

// login menu links same color after visited
.menu-btn-login {
    &:visited {
        color: $color_black;
    }
}

// go to top icon
.AnyClassForContainer {
    position: fixed;
    right: -100px;
    bottom: 150px;
    transition: right 0.5s;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    padding: 10px;
  }
  
  .AnyClassForTransition {
    right: 20px;
  }

  //menu for very small screen
  @media (max-width: 125px) {
    .menu-top-button {
       margin: 0 auto;
       width: 10%;
       height: 30%;
    }
}

//burger menu buttons
@media (max-width: 833px) {
    .menu-bottom-button {      
        border: 0.75px solid $color_black;
        font-size: 3vw;
        font-weight: 400;
        height: 10vw;      
        width: 100vw;
        background-color: $color_white;
    }

    .menu-top-button {      
        font-size: 3vw;      
    }

    #startButton {
        display: none;
    }
}

// desktop menu buttons when they are changing to two lines
@media (min-width: 834px) and (max-width: 1168px) {
    .menu-bottom-button {
        height: 5vw;
        width: max-content;
    }
}
