
// main colors for this project
$color_white: #FFFFFF;
$color_black: black;

$color_whiteish: #F0F1F1;
$color2_light_brown: #5E5322;
$color3_yellowish: #FAD648;
$color_greyish: #737373;
$color_dark_brown: #3C3C3C;
$color_reddish: #DC143C;
