@import './settings/fonts';
@import './settings/colors';

body {
    font-family: $font-base; 
    max-width: 100%;
    overflow-x: hidden;   
   }

.container-half {
    max-width: 50vw;
    max-height: 100vh;
}

.container-full {
    max-width: 100vw;
    max-height: 100vh;
}

.container-h40 {
    max-width: 100vw;
    max-height: 40vh;
}

.container-h20 {
    max-width: 100vw;
    max-height: 20vh;
}

.container-w100 {
    max-width: 100vw;
}

.container-w40 {
    max-width: 40vw;
}

.container-w60 {
    max-width: 40vw;
}

@media (max-width: 750px) {
    body {
        // margin-left: -25px;
    }

    .container-half {
        max-width: 100vw;
        max-height: unset;
    }
    
    .container-full {
        max-width: 100vw;
        max-height: unset;
    }

}
