@import './settings/colors';

.who-we-help-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 50px;
    // margin-bottom: 40px;
    // height: 100vh;
}

.who-we-help-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: -160px;
}

.who-we-help-top__decoration {
    transform: scale(0.7);
    width: 40vw;
}

.who-we-help-top__options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
}

.who-we-help-top__text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 60%;
    // margin-top: 40px;
    // margin-bottom: 50px;
    font-size: 22px;
    font-weight: 400;
}

.who-we-help__list--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    border-bottom: 1px solid black;
    // margin-bottom: 20px;
}

.who-we-help__list--left {
    display: flex;
    flex-direction: column;
}

.who-we-help__list--right {
   display: flex;
   align-items: flex-end;
}

.who-we-help__list--name {
    // margin: 0;
    font-family: $font-alt;
    font-size: 26px;
    font-weight: 300;
}

.who-we-help__list--text-left {
    // margin: 0;  
    font-family: $font-alt;
    font-size: 18px;  
    font-weight: 300;
    font-style: italic;
}

.who-we-help__list--text-right {
    // margin: 0; 
    font-family: $font-alt;
    font-size: 18px;  
    font-weight: 300;   
}

.who-we-help__list--underline {
    border-top: 1px solid $color_black;
    width: 80vw;
}


.who-we-help__list--paginate-list { 
  display: inline;
  list-style: none;  
//   margin: 3px;
  border: none;
    & a {
        text-decoration: none;
        // padding: 5px;  
        font-size: 18px;  
        font-weight: 400;   
    }
}

@media (max-width: 833px) {
    .who-we-help-container {      
        // margin-top: 0;
        // margin-bottom: -70px; 
        height: unset;
    }

    .who-we-help-top__options {        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .who-we-help-top__text {
        width: 90vw;
        font-size: 18px;
    }

    .who-we-help__list--text-left {
        max-width: 120px;
        font-size: 12px;  
     
    }
    
    .who-we-help__list--text-right {
        max-width: 120px;
        font-size: 12px;  
        text-align: end;
        
    }

    .who-we-help__list--name {       
        font-size: 18px;       
    }   
}



