@import './settings/colors';

// .simple-steps-container {   
//     height: 100vh;
// }

.simple-steps-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
    & p {
        margin-bottom: 10px;
        margin-top: 40px;
    }
}

.simple-steps-top--text {
    font-size: 38px;
    font-weight: 400;
}

.simple-steps-top--decoration {      
    transform: scale(0.7);
}

.simple-steps-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 100px 0 100px;
    background-color: $color_whiteish;    
}

.simple-steps-middle__align {
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.simple-steps-middle--decoration {
    margin-top: 30px;    
    transform: scale(0.7);
}

.simple-steps-middle__underlined {  
    padding-bottom: 10px;
    margin-top: 0;
    width: 60%;
    font-size: 18px;
    font-weight: 400;
}

.simple-steps-middle__underlined--underline {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color_black;
    width: 40%;
}

.simple-steps-middle__bottom-text {
    margin-bottom: 30px;
    width: 60%;
    font-size: 16px;
    font-weight: 400;
}

.simple-steps-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

@media (max-width: 750px) {
    .simple-steps-container {       
        height: unset;
    }

    .simple-steps-middle {
        flex-direction: column;    
        // margin-bottom: 20px;        
    }

    .simple-steps-bottom {        
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;     
    }    

    .simple-steps-middle__underlined {      
        padding-bottom: 0;    
        width: 100vw;      
    }

    .simple-steps-middle--decoration {
        margin-top: 0;
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
}

.simple-steps-middle__align {
    border-bottom: 2px solid $color_white;
}

}

@media (min-width: 751px) and (max-width: 1100px)  {
    .simple-steps-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 31vh;
    }
}

// ipad
@media (max-width: 768px)  {
    .simple-steps-container {
        margin-top: unset;   
        height: unset;
    }

    .simple-steps-bottom {
        height: unset;
        padding: 30px;
    }

    .simple-steps-middle__underlined {
        width: 100%;
    }
    
    .simple-steps-middle__bottom-text {      
        width: 80%;    
    }
}

//ipad pro
@media (max-width: 1024px)  {
    .simple-steps-container {
        margin-top: unset;   
        height: unset;
    }

    .simple-steps-bottom {
        height: unset;
        padding: 30px;
    }

    .simple-steps-middle__underlined {
        width: 100%;
    }
    
    .simple-steps-middle__bottom-text {      
        width: 80%;    
    }
}


