@import './settings/colors';

.simple-steps-container {       
    width: 100vw;
}

// .simple-steps-top {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     // margin-top: 30px;
//     // margin-bottom: 20px;
//     & p {
//         // margin-bottom: 10px;
//         // margin-top: 40px;
//     }
// }

// .simple-steps-top--text {
//     font-size: 38px;
//     font-weight: 400;
// }

// .simple-steps-top--decoration {      
//     width: 6vw; 
//     height: 6vw;
// }

.simple-steps-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    // padding: 0 100px 0 100px;
    background-color: $color_whiteish;    
}

.simple-steps-middle__align {
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.simple-steps-middle--decoration {
    // margin-top: 30px;    
    // transform: scale(0.7);
    margin-top: 5vw;
    width: 6vw;
    height: 6v;
}

.simple-steps-middle__underlined {  
    // padding-bottom: 10px;
    // margin-top: 0;
    width: 60%;
    font-size: 2vw;
    font-weight: 400;
}

.simple-steps-middle__underlined--underline {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color_black;
    width: 13vw;
}

.simple-steps-middle__bottom-text {
    margin-block-start: 5vw;
    margin-block-end: 5vw;
    width: 65%;
    font-size: 1.65vw;
    font-weight: 400;
}

.simple-steps-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
}

@media (max-width: 833px) {
    .simple-steps-container {       
        height: unset;
    }

    .simple-steps-middle {
        flex-direction: column;    
        // margin-bottom: 20px;        
    }

    .simple-steps-bottom {        
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;     
    }    

    .simple-steps-middle__underlined {      
        // padding-bottom: 0;    
        width: 100vw;      
    }

    .simple-steps-middle--decoration {            
            width: 10vw; 
            height: 10vw;
            margin-top: 3vw;

       }

.simple-steps-middle__align {
    border-bottom: 2px solid $color_white;
}

.simple-steps-middle__underlined {
    font-size: 3.5vw;
    }

    .simple-steps-middle__bottom-text {      
        font-size: 2vw;       
    }
}

@media (max-width: 540px) {
    .simple-steps-bottom {
        height: 8vh;     
    }
}




