
.footer-container {
    display: flex;
    flex-direction: row;
    background: transparent;
    position: absolute;
    width: 100vw;
    bottom: 0;
    padding-top: 3vw;

}

.footer-copyright {
    width: 90vw;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
}

.footer-icons {
    display: flex;
    justify-content: space-around;  
}

.footer-icons--icon {
    height: 70%;
    &:hover {
        background-color: rgb(0, 238, 255);
        transform: scale(1.2);      
        border: none;        
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
}

@media (max-width: 833px) {
    .footer-container {       
        flex-direction: column;
        background: transparent;
       position: absolute;
        z-index: 1;
}

    .footer-icons {     
        justify-content: center;
    }

    .footer-icons--icon {     
        width: 5vw;
    }

    .footer-copyright {
        width: 100vw;
        font-size: 3vw;
        margin-bottom: 1vw;   
    }
}

//desktop
@media (min-width: 833px) {
    .footer-container {       
        position: absolute;      
        bottom: 0.60vw;
        z-index: 10;
        width: 92vw
    }   

    .footer-icons--icon {     
        width: 2.5vw;
    }
}

