
.footer-container {
    display: flex;
    flex-direction: row;
    background: transparent;
    position: absolute;
    transform: translateY(685px);
    -webkit-transform: translateY(685px);
    -moz-transform: translateY(685px);
    -ms-transform: translateY(685px);
    -o-transform: translateY(685px);
}

.footer-copyright {
    width: 90vw;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer-icons {
    display: flex;
    justify-content: space-around;  
}

.footer-icons--icon {
    height: 70%;
    &:hover {
        background-color: rgb(0, 238, 255);
        transform: scale(1.2);      
        border: none;        
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
}

@media (max-width: 750px) {
    .footer-container {       
        flex-direction: column;
        background: transparent;
        position: unset;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        z-index: 1;
}

    .footer-icons {     
        justify-content: center;
    }

    .footer-copyright {
        width: 100vw;
        margin-bottom: 10px;
        margin-top: 30px;      
    }
}

// ipad
@media (min-width: 766px) and (max-width: 780px) {
    .footer-icons {
      position: absolute;
      right: 4px;
      bottom: 0;
    }
}

//ipad pro
@media (min-width: 1020px) and (max-width: 1024px)  {
    .footer-icons {
        position: absolute;
        right: -15px;
        bottom: -20px;
    } 
}
