.scroll-up-arrow {
    z-index: 5;
    position: absolute;
}

.header-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

.header-left-side {  
    width: 885px;
    height: 963px;
}

.header-right-side {   
    width: 1015px;
    height: 963px;
    
    padding-right: 142px;
}

.header-right-side--menu {
    margin:  20px 40px 0 0;
}

.header-right-side--menu__top {
    display: flex;
    justify-content: flex-end;
}

.header-right-side--menu__bottom {
    display: flex;
    justify-content: flex-end;
}

.header-right-side--content {
    margin-top: 120px;
}

.header-right-side--content__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    & h2 {
        font-weight: 400;
        font-size: 38px;
    }
}

.header-right-side--content__text--header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    & h2 {
        font-weight: 400;
        font-size: 38px;
    }
}

.header-right-side--content__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.header-right-side--content__decoration {
    transform: scale(0.7);
}

.decorated-text--large {
    font-size: 38px;
    font-weight: 400;
}

@media (max-width: 750px) {

    .header-container {
        margin-bottom: 45px;
        position: relative;
     }

    .decorated-text--large {
        font-size: 33px;     
    }

    .header-left-side {
        display: flex;
        opacity: 0.3;
        width: 100vw;
        height: 75vh;
     }

     .header-right-side {     
        max-width: 100vw;
        padding-right: unset;
        width: 100vw;
        height: unset;
        position: absolute;         
     }

     .decorated-text--large {
        width: 100vw;
        font-size: 24px;
    }
}

@media (min-width: 751px) {

    .header-container {
        margin-bottom: 100px;        
     }
}

@media (min-width: 560px) and (max-width: 750px) { 

    .header-container {
        margin-bottom: 290px;
    }

    .decorated-text--large {
        width: 40vw;
        font-size: 38px;
    }

    .header-right-side--content__buttons {     
        margin-top: 0;
    }
  
}

@media (min-width: 770px) {

    .decorated-text--large {
        width: 40vw;       
    }
}

@media (max-width: 559px) {
    
    .header-container {
        margin-bottom: 170px;
    }
}

@media (min-width: 560px) and (max-width: 567px) {
    
    .header-container {
        margin-bottom: 340px;
    }
}

// iphone 5/SE
@media (min-width: 568px) and (max-width: 568px) {
    
    .decorated-text--large {
        font-size: 21px;      
    }

    .header-container {
        margin-bottom: 320px;
    }

    .header-left-side {       
        height: 100vh;
     }

    .header-right-side--content__text--header {        
       transform: translateY(-85px);
       -webkit-transform: translateY(-85px);
       -moz-transform: translateY(-85px);
       -ms-transform: translateY(-85px);
       -o-transform: translateY(-85px);      
    }
}

// ipad
@media (min-width: 766px) and (max-width: 780px)  {
    .header-container {
    margin-bottom: unset;
    }

    .header-right-side {
        height: 674px;
        padding-right: unset;
    }  
    
    .header-right-side--content {
        margin-top: unset;
    }

    .header-right-side--content__buttons {
        margin-top: unset;
    }
    
    .header-left-side {        
        height: 56vh;
    }    
}

//ipad pro
@media (min-width: 1020px) and (max-width: 1024px)  {
    .header-container {
        margin-bottom: unset;
        }

    .header-right-side {
        height: 784px;
        padding-right: unset;
    }    
    
    .header-left-side {       
        height: 50vh;
    }
}

//Iphone 5 SE
@media (min-width: 318px) and (max-width: 322px)  {
    .header-right-side--content {
        margin-top: 0;
    }
}


