@import './settings/colors';

.three-columns-container {   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: $color3_yellowish;
    padding-bottom: 60px;
}

.three-columns-column--number {
    font-size: 90px;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 300;
}

.three-columns-column--heading {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

.three-columns-column--text {
    margin-bottom: 16px;
    font-weight: 300;
    width: 25vw;
}

@media (max-width: 750px) {
    .three-columns-container { 
        flex-direction: column;
        padding: 0;
        margin-top: -110px;
    }
    
    .three-columns-column--text {
        // margin: auto;
        width: 90vw;
    }

    .three-columns-column--heading {
        width: unset;
    }

    .three-columns-column {
        border-top: 0.5px solid $color_black;
        border-bottom: 0.5px solid $color_black;
    }

    .three-columns-column--number {
        font-size: 70px;
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 300;
    }
}

@media (min-width: 751px)  {
    
    .three-columns-container {   
      margin-top: -100px;
    }
}

