@import './settings/colors';

.three-columns-container {   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: $color3_yellowish;
    padding-bottom: 60px;
}

.three-columns-column--number {
    font-size: 90px;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 300;
}

.three-columns-column--heading {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}

.three-columns-column--text {
    margin-bottom: 16px;
    font-weight: 300;
    width: 25vw;
}