@import './settings/colors';

.three-columns-container {
    margin-top: 134px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: $color3_yellowish;
}

.three-columns-column--number {
    font-size: 4em;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 100;
}

.three-columns-column--heading {
    text-transform: uppercase;
    font-weight: 300;
}

.three-columns-column--text {
    margin-bottom: 30px;
    font-weight: 100;
}