.step4-form__container {
    display: flex;
    flex-direction: row;
}

.step4-form__left {
    display: flex;
    flex-direction: column;
}

.step4-form__right {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.step4-label {
    display: flex;
    flex-direction: column;
}

span {
    font-weight: bolder;
}

textarea {
    border: 2px solid $color_black;
}

.step4-bottom-left {
    position: absolute;
    // width: 50%;
    margin-left: 115px;
    & p {
        padding-top: 20px;
        font-size: 24px;
        font-weight: 300;
    }
    & form {
        display: flex;
        flex-direction: column;
        & p {
            font-size: 36px;
            font-weight: 600;
        }
        & label {
            display: flex;
            // flex-direction: row;
            margin-right: 10px;
            padding: 20px 0;
            font-size: 24px;
            font-weight: 300;
            & input {
                margin-right: 5px;
                border-radius: 1px;                
                -webkit-border-radius: 1px;
                -moz-border-radius: 1px;
                -ms-border-radius: 1px;
                -o-border-radius: 1px;
}
        }
    }
}